:root {
  --color-primary-red: hsl(1, 90%, 64%);
  --color-primary-blue: hsl(219, 85%, 26%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-blue-1: hsl(211, 68%, 94%);
  --color-light-grayish-blue-2: hsl(205, 33%, 90%);
  --color-grayish-blue: hsl(219, 14%, 63%);
  --color-dark-grayish-blue: hsl(219, 12%, 42%);
  --color-dark-blue: hsl(224, 21%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 62.5%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
  }

  body {
    background-color: var(--color-light-grayish-blue-1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app {
    width: 62vw;
    margin-top: 10rem;
    padding: 6rem 4rem;
    border-radius: 10px;
    background-color: var(--color-white);
  }

  .app-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .app-header h3 {
    font-family: "Rubik", sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: -0.7px;
  }

  .app-header .unread {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--color-white);
    padding: 3px 10px;
    background-color: var(--color-primary-blue);
    border-radius: 5px;
  }

  .app-header .link {
    margin-left: auto;
  }

  .link a:link,
  .link a:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--color-grayish-blue);
  }

  .link a:hover,
  .link a:active {
    color: var(--color-primary-blue);
  }

  .friendslist {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .friend {
    font-size: 1.6rem;
    background-color: var(--color-white);
    color: var(--color-dark-grayish-blue);
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: auto auto;
    row-gap: 0.5rem;

    padding: 2rem;
    border-radius: 10px;
    position: relative;
  }

  .active {
    background-color: var(--color-light-grayish-blue-1);
  }

  .active--dot {
    margin-left: 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--color-primary-red);
    font-size: 10rem;
  }

  .friend img {
    width: 70%;
    grid-row: span 2;
  }

  .friend_name {
    color: var(--color-dark-blue);
  }

  .friend_name:hover {
    cursor: pointer;
    color: var(--color-primary-blue);
  }

  .friend_notification {
    align-self: end;
  }

  .friend_comment--img {
    /* grid-column: 3/-1;
    width: 100%; */
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .friend_comment-linked:link,
  .friend_comment-linked:visited {
    font-weight: 800;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(---color-dark-grayish-blue);
  }

  .friend_comment-linked:hover,
  .friend_comment-linked:active {
    color: var(--color-primary-blue);
  }

  .friend_comment-linked.friend_comment-linked--chess {
    color: var(--color-primary-blue);
  }

  .friend_comment--status {
    color: var(--color-grayish-blue);
    grid-column: 2/-1;
  }

  .privat_message {
    grid-column: 2/-1;
    margin-top: 1rem;
    padding: 2rem;
    border: 1px solid var(--color-light-grayish-blue-1);
    cursor: pointer;
  }

  .privat_message:hover,
  .privat_message:active {
    background-color: var(--color-light-grayish-blue-2);
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* MOBIL Design */

@media screen and (max-width: 375px) {
  html {
    font-size: 54%;
  }

  .app {
    width: 100%;
    margin-top: 0;
    padding: 2rem 2rem;
  }

  .friend {
    grid-template-columns: 7rem auto 20%;
    column-gap: 2rem;
    padding: 1rem;
  }

  .friend img {
    position: initial;
    width: 70%;
  }

  .friend_notification {
    grid-column: 2/-1;
  }

  .friend_comment--img {
    grid-row: 1;
    grid-column: 3;
    display: inline-block;
    align-self: start;
    justify-self: end;
    width: 100%;
    position: initial;
  }
}
